<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senpailing</title>
</head>
<body style="text-align: center;">

<form method="POST" action="/">

    <h1>Sandpile Sandpile Senpai</h1>

    <div>
        <label for="">Row : </label>
        <input type="number" name="row">
    </div>
    <br>
    <div>
        <label for="">Col : </label>
        <input type="number" name="col">
    </div>
    <br>
    <div>
        <label for="">First pile : </label>
        <input type="number" name="pile">
    </div>
    <br>
    <div>
        <input type="submit" value="Simulate">
    </div>
</form>
    
</body>
</html>